#root {
  width: 100%;
}

.home-container {
  position: relative;
  margin: auto;
  background-color: #fff;
  height: 98vh;
  width: 100%;
  overflow: hidden;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.home-container.red:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #eb44cc 0%, #fe0464 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.wrapper {
  position: relative;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(224, 224, 224);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
}

.wrapper.red {
  position: relative;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(224, 224, 224);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(-45deg, #ee35cc 0%, #f682e1 100%);
}

select, .buttom {
  text-align: center;
  width: 100%;
  height: 30px;
  margin: .3em 0;
  border: 0;
  outline: 0;
  color: white;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  z-index: 3;
  background: #8288ff;
  cursor: pointer;
}

hr {
  width: 100%;
}